{% set tomcats_count = 3 %}
worker.list=balancer,stat

{% for i in range(1,tomcats_count+1) %}
worker.tomcat{{ i }}.host=192.168.0.{{ i+1 }}
worker.tomcat{{ i }}.port=8009
worker.tomcat{{ i }}.type=ajp13

{% endfor %}

worker.balancer.type=lb
worker.balancer.balance_workers={% for i in range(1,tomcats_count) %}tomcat{{ i }},{% if loop.last %}tomcat{{ i+1 }}{% endif %}{% endfor %}

worker.stat.type=status
