worker.list=balancer,stat

worker.tomcat1.host={{ vm1_ip }}
worker.tomcat1.port=8009
worker.tomcat1.type=ajp13

worker.tomcat2.host={{ vm2_ip }}
worker.tomcat2.port=8009
worker.tomcat2.type=ajp13

worker.balancer.type=lb
worker.balancer.balance_workers=tomcat1,tomcat2

worker.stat.type=status

